.list-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 15px;
  margin: 10px;
  padding: 10px;
  color: black;
  font-size: 25px;
  width: 600px;
}

.list-item label {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 35px;
  color: black;
}

.list-item input[type="checkbox"] {
  transform: scale(2);
  margin-right: 15px;
  width: 15px;
  height: 22px;
}

.list-item button {
  width: 5em;
  padding: 5px;
}

.edit-btn {
  background-color: rgb(9, 9, 112);
}

.delete-btn {
  background-color: darkred;
}

.edit-btn:hover {
  transform: scale(1.2);
}

.delete-btn:hover {
  transform: scale(1.2);
}

.btn {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
